In [1]:
import pandas as pd
import numpy as np

In [17]:
data1 = pd.read_csv('atlas_2112p11876_BR_H_to_hh_kc.csv')
mass1 = np.unique(data1['mH'])
kc1 = np.unique(data1['kc'])
data2 = pd.read_csv('atlas_2202p07288_BR_H_to_hh_kc.csv')
mass2 = np.unique(data2['mH'])
kc2 = np.unique(data2['kc'])
data3 = pd.read_csv('atlas_2209p10910_BR_H_to_hh_kc.csv')
mass3 = np.unique(data3['mH'])
kc3 = np.unique(data3['kc'])
mass = np.unique([*mass1,*mass2,*mass3])
kc = np.unique([*kc1,*kc2,*kc3])
mass, kc

(array([ 251. ,  260. ,  270. ,  280. ,  290. ,  300. ,  312.5,  325. ,
         337.5,  350. ,  375. ,  400. ,  425. ,  450. ,  475. ,  500. ,
         550. ,  600. ,  650. ,  700. ,  750. ,  800. ,  850. ,  900. ,
        1000. , 1100. , 1200. , 1300. , 1400. , 1500. , 1600. , 1800. ,
        2000. , 2250. , 2500. , 2750. , 3000. , 3500. , 4000. , 4500. ,
        5000. ]),
 array([0.00794328, 0.01244515, 0.01949845, 0.03054921, 0.04786301,
        0.05011872, 0.06726324, 0.09027252, 0.12115277, 0.16259647,
        0.21821715, 0.29286446, 0.39304696, 0.52749971, 0.70794578]))

In [18]:
# make the .txt file to run the MG5 simulation in the automated job

f = open('H_to_hh_MG5_run_script.txt','a')

f.write('launch /gpfs/scratch/argiannakopo/H_to_hh_kc_cosbma0p1_xi0_atlas/ \n')

for m in mass:
    for k in kc: #np.logspace(-1.29,-0.096,8): #[0.049, 0.0601, 0.0736, 0.0903, 0.1107, 0.1358, 0.1665, 0.2042]:
        f.write('set mh2 %d \n' % m )
        f.write('set mh3 %d \n' % m )
        f.write('set mhc %d \n' % m )
        f.write('set kc %f \n' % k )
        f.write('0 \n')
        f.write('launch \n')
        
f.close()

In [2]:
# read the exp limits so that I can run the simulation at the same mass points

experiment_data = pd.read_csv('/gpfs/home/argiannakopo/SFV/Exp_data/X-hh-ATLAS-2202p07288.csv')
experiment_data.head()

     m      xsec-fb
0  251  3740.014623
1  260  8413.666185
2  280  7741.787588
3  300  3479.437441
4  350   389.695991

In [4]:
list = experiment_data['m'].tolist()
print(list)

[251, 260, 280, 300, 350, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1800, 2000, 2250, 2500, 2750, 3000, 3500, 4000, 4500, 5000]

In [6]:
data = pd.read_csv('/gpfs/home/argiannakopo/SFV/Exp_data/X-hh-ATLAS-2209p10910.csv')
print(data['m'].tolist())

[251, 260, 280, 300, 325, 350, 375, 400, 450, 500, 550, 600, 700, 800, 900, 1000, 1100, 1200, 1400, 1600]

In [9]:
pwd

'/gpfs/home/argiannakopo/SFV/DownType_csv_PW/Hhh_downtype'

In [ ]:
# make the .txt file to run the MG5 simulation in the automated job

f = open('H_to_hh_MG5_run_script.txt','a')

f.write('launch /gpfs/scratch/argiannakopo/H_to_hh_kc_cosbma0p1_xi0_atlas/ \n')

for m in experiment_data[experiment_data['mH']>1200]['mH']:
    for k in np.logspace(-1.3,-0.15,10): #np.logspace(-1.29,-0.096,8): #[0.049, 0.0601, 0.0736, 0.0903, 0.1107, 0.1358, 0.1665, 0.2042]:
        f.write('set mh2 %d \n' % m )
        f.write('set mh3 %d \n' % m )
        f.write('set mhc %d \n' % m )
        f.write('set kc %f \n' % k )
        f.write('0 \n')
        f.write('launch \n')
        
f.close()

In [11]:
# make the .txt file to run the MG5 simulation in the automated job

## add some points for the bbττ channel at intermediate masses

f = open('H_to_hh_MG5_run_script.txt','a')

f.write('launch /gpfs/scratch/argiannakopo/H_to_hh_kc_cosbma0p1_xi0_atlas/ \n')

for m in data[(data['m'] >350) & ( data['m'] < 700)]['m']:
    for k in np.logspace(-2.1,-1.32,5): #np.logspace(-1.29,-0.096,8): #[0.049, 0.0601, 0.0736, 0.0903, 0.1107, 0.1358, 0.1665, 0.2042]:
        f.write('set mh2 %d \n' % m )
        f.write('set mh3 %d \n' % m )
        f.write('set mhc %d \n' % m )
        f.write('set kc %f \n' % k )
        f.write('0 \n')
        f.write('launch \n')
        
f.close()

In [2]:
# Load the experimental bounds to compare with my results 

CMS = pd.read_csv('/gpfs/home/argiannakopo/SFV/Exp_data/X-ZZ-CMS-1804p01939.csv')
CMS.head()

    mH        xs
0  130  0.236053
1  140  0.220097
2  150  0.093438
3  160  0.123862
4  170  0.188097

In [4]:
np.logspace(-1,-0.39,5)

array([0.1       , 0.14206922, 0.20183664, 0.28674774, 0.40738028])

In [14]:
# make the .txt file to run the MG5 simulation in the automated job

f = open('H_to_ZZ_MG5_run_script.txt','a')

f.write('launch /gpfs/scratch/argiannakopo/H_to_ZZ_ks_cosbma0p1_xi0_atlas/ \n')

for m in CMS[CMS['mH'] <= 190]['mH']:
    for k in np.logspace(-1,-0.39,5):  ##[0.049, 0.0601, 0.0736, 0.0903, 0.1107, 0.1358, 0.1665, 0.2042]:
        f.write('set mh2 %d \n' % m )
        f.write('set mh3 %d \n' % m )
        f.write('set mhc %d \n' % m )
        f.write('set ks %f \n' % k )
        f.write('0 \n')
        f.write('launch \n')
        
f.close()